<div layout="row" id="shop">
<!--     <p ng-click="toggleLeft()" hide-gt-md>menu</p> -->
    <md-sidenav
        class="md-sidenav-left"
        md-component-id="left"
        md-is-locked-open="$mdMedia('gt-md')"
        md-whiteframe="4"
        hide-gt-sm>
        <md-content layout-padding>
            <div layout="row" layout-align="center center" class="title">
                <img src="assets/images/2.png">
                <p>Filtrer avec le rang de leur réseau</p>
            </div>
            <div layout="row" layout-align="start center" id="sexe">
                <div flex="50" class="button-male" ng-click="selectSexe('homme')" ng-class="{selected: sexe == 'homme'}">Homme</div>
                <div flex="50" class="button-female" ng-click="selectSexe('femme')" ng-class="{selected: sexe == 'femme'}">Femme</div>
            </div>
            <div layout="row" layout-align="start center" class="facebook">
                <img src="assets/images/Facebook.png">
                <p>Facebook ranking</p>
            </div>
            <md-slider md-discrete id="facebook" ng-model="facebook" step="1" min="0" max="5"></md-slider>

            <div layout="row" layout-align="start center" class="facebook">
                <img src="assets/images/Instgram.png">
                <p>Instagram ranking</p>
            </div>
            <md-slider md-discrete id="instagram" ng-model="instagram" step="1" min="0" max="5"></md-slider>

            <div layout="row"  layout-align="start center" class="facebook">
                <img src="assets/images/Linked-in.png">
                <p>Linkedin ranking</p>
            </div>
            <md-slider id="linkedin" md-discrete ng-model="linkedin" step="1" min="0" max="5"></md-slider>

            <div layout="row"  layout-align="start center" class="facebook">
                <img src="assets/images/Food.png">
                <p>Alimentation ranking</p>
            </div>
            <md-slider id="food" md-discrete ng-model="food" step="1" min="0" max="5"></md-slider>

            <div layout="row"  layout-align="start center" class="facebook">
                <img src="assets/images/Sport.png">
                <p>Santé ranking</p>
            </div>
            <md-slider id="sport" md-discrete ng-model="sport" step="1" min="0" max="5"></md-slider>

            <div layout="row" layout-align="start center" class="facebook">
                <img src="assets/images/Tinder.png">
                <p>Tinder ranking</p>
            </div>
            <md-slider id="tinder" md-discrete ng-model="tinder" step="1" min="0" max="5"></md-slider>
        </md-content>
    </md-sidenav>
    <div id="filters" flex="20" hide-xs hide-sm hide-md>
        <h2 layout="column" layout-align="center center" class="title">
            <img src="assets/images/2.png">
            <p>Filtrer avec le rang de leur réseau</p>
        </h2>
        <div layout="row" layout-align="start center" id="sexe">
            <div flex="50" class="button-male" ng-click="selectSexe('homme')" ng-class="{selected: sexe == 'homme'}">Homme</div>
            <div flex="50" class="button-female" ng-click="selectSexe('femme')" ng-class="{selected: sexe == 'femme'}">Femme</div>
        </div>
        <div layout="row" layout-align="start center" class="facebook">
            <img src="assets/images/Facebook.png">
            <p>Facebook minimum rate</p>
        </div>
        <md-slider md-discrete id="facebook" ng-model="facebook" step="1" min="0" max="5"></md-slider>

        <div layout="row" layout-align="start center" class="facebook">
            <img src="assets/images/Instgram.png">
            <p>Instagram minimum rate</p>
        </div>
        <md-slider md-discrete id="instagram" ng-model="instagram" step="1" min="0" max="5"></md-slider>

        <div layout="row"  layout-align="start center" class="facebook">
            <img src="assets/images/Linked-in.png">
            <p>Linkedin minimum rate</p>
        </div>
        <md-slider id="linkedin" md-discrete ng-model="linkedin" step="1" min="0" max="5"></md-slider>

        <div layout="row"  layout-align="start center" class="facebook">
            <img src="assets/images/Food.png">
            <p>Food minimum rate</p>
        </div>
        <md-slider id="food" md-discrete ng-model="food" step="1" min="0" max="5"></md-slider>

        <div layout="row"  layout-align="start center" class="facebook">
            <img src="assets/images/Sport.png">
            <p>Sport minimum rate</p>
        </div>
        <md-slider id="sport" md-discrete ng-model="sport" step="1" min="0" max="5"></md-slider>

        <div layout="row" layout-align="start center" class="facebook">
            <img src="assets/images/Tinder.png">
            <p>Tinder minimum rate</p>
        </div>
        <md-slider id="tinder" md-discrete ng-model="tinder" step="1" min="0" max="5"></md-slider>

    </div>
    <div layout="column" flex-gt-md="80" flex="100" id="content">
        <h2 layout="row" layout-align="center center" class="title">
            <img src="assets/images/1.png">
            <p>Choisissez un ou plusieurs organes</p>
        </h2>

        <div flex="40" layout="row" layout-align="space-around center" id="body-parts" layout-wrap style="min-height: 40%;">
            <div ng-repeat="body_part in body_parts" class="bloc" ng-click="addBodyPart(body_part.name)" ng-class="{selected: selected.indexOf(body_part.name) != -1}" flex-gt-md="30" flex-md="30" flex-sm="40" flex-xs="40" layout="row" layout-align="center center">
                    <img src="{{body_part.icon}}">
            </div>
        </div>
        <div hide-gt-md id="menu" ng-click="toggleLeft()">
            <h2 layout="row" layout-align="center center" class="title">
                <img src="assets/images/2.png">
                <p style="cursor:pointer;">Filtrer avec le rang de leur réseau en cliquant ici</p>
            </h2>
        </div>
        <div flex-gt-md="80" flex="100" layout="row" layout-wrap layout-align="space-around start" id="articles" layout-wrap>
            <h2 flex="100" layout="row" layout-align="center center" class="title">
                <img src="assets/images/3.png">
                <p>Choisissez votre sweet life maker</p>
            </h2>
            <md-card
                ng-repeat="article in articles"
                ng-if="facebook <= article.facebook_mark &&
                    instagram <= article.instagram_mark &&
                    food <= article.food_mark &&
                    sport <= article.sport_mark &&
                    tinder <= article.tinder_mark &&
                    linkedin <= article.linkedin_mark &&
                    isSameSexe(article.sexe) &&
                    isInside(article)"
                flex-gt-md="45" flex-md="45" flex-sm="90" flex-xs="90">
                <img src="{{article.picture}}">
                <div ng-if="article.body_parts.length == 1" class="promo">
                    Plus qu'un organe
                </div>
                <div layout="row" layout-align="end center" id="article-body-part">
                    <div ng-repeat="obj in article.body_parts">
                        <img src="assets/images/{{obj}}.png">
                    </div>
                </div>
                <div class="article-content" layout="column">
                    <p>
                        {{article.title}}
                    </p>
                    <div layout="row">
                        <div flex="50" layout="column" layout-align="center start">
                            <div layout="row" style="margin-bottom:7px;">
                                <div ng-repeat="obj in rate">

                                <img ng-if="$index < article.facebook_mark" src="assets/images/Facebook.png">
                                </div>
                            </div>
                            <div layout="row" style="margin-bottom:7px;">
                                <div ng-repeat="obj in rate">

                                <img ng-if="$index < article.instagram_mark" src="assets/images/Instgram.png">
                                </div>
                            </div>
                            <div layout="row">
                                <div ng-repeat="obj in rate">

                                <img ng-if="$index < article.linkedin_mark" src="assets/images/Linked-in.png">
                                </div>
                            </div>
                        </div>
                        <div flex="50" layout="column" layout-align="center start">
                            <div layout="row" style="margin-bottom:7px;">
                                <div ng-repeat="obj in rate">

                                <img ng-if="$index < article.tinder_mark" src="assets/images/Tinder.png">
                                </div>
                            </div>
                            <div layout="row" style="margin-bottom:7px;">
                                <div ng-repeat="obj in rate">

                                <img ng-if="$index < article.sport_mark" src="assets/images/Sport.png">
                                </div>
                            </div>
                            <div layout="row">
                                <div ng-repeat="obj in rate">

                                <img ng-if="$index < article.food_mark" src="assets/images/Food.png">
                                </div>
                            </div>
                        </div>
                    </div>
                    <md-button class="md-raised md-primary">
                        Sélectionner l'organe
                    </md-button>
                </div>
            </md-card>
        </div>
    </div>
</div>
